<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Netsuite_TLH_Suite" verbose="10">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.framework.listeners.Listener" />
	</listeners>

	<test name="Moodle_TLH_Automation_Test">
		<classes>
			<class name="com.moodle.tlh.tests.Module_1_CreateBackup_Testuite">
			</class>
		</classes>
	</test>
</suite>